# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.pkl

# Virtual environment
venv/
env/
.venv/
.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# System
.DS_Store
Thumbs.db