{% extends "stats/base.html" %}
{% load static %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="text-center" style="background-color: #f6f5f4; min-height: 100vh;">
    <h1 class="display-1 pt-5" style="font-family: 'Rodchenko', sans-serif; font-weight: 300; color: #121212;">404</h1>
    <p class="lead" style="color: #555;">Page not found.</p>
    <div class="mt-4">
        <img src="{% static 'images/cobain.png' %}" alt="404" class="img-fluid" style="max-height: 400px;">
    </div>
</div>
{% endblock %}
