{% extends "stats/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card bg-dark text-light p-4 shadow-lg">
        <h2 class="mb-4">Listening Heatmap</h2>
        <div id="cal-heatmap"></div>
    </div>
</div>


<!-- cal-heatmap -->
<script type="module">
    import CalHeatmap from "https://esm.sh/cal-heatmap";
    import Legend from "https://esm.sh/cal-heatmap/dist/plugins/Legend.esm.js";

    async function initHeatmap() {
      try {
        const response = await fetch("/heatmap-data/");
        const heatmapData = await response.json();
        console.log("Fetched data:", heatmapData);

        const cal = new CalHeatmap();

        cal.paint({
          itemSelector: "#cal-heatmap",
          domain: "month",
          subDomain: "day",
          range: 6,
          data: {
            source: heatmapData,
          },
          cellSize: 18,
          theme: "dark",
          plugins: [
            [Legend, {
              items: [1, 5, 10, 20],
              position: "bottom",
            }],
          ],
        });
      } catch (err) {
        console.error("Heatmap init failed:", err);
      }
    }

    initHeatmap();
  </script>
{% endblock %}