{% extends "stats/base.html" %}

{% block title %}Top Artists{% endblock %}

{% block content %}
<h2 class="mb-4">Top Artists</h2>

<!-- Period switch buttons -->
<div class="btn-group mb-3" role="group">
    <a class="btn btn-custom {% if time_range == 'short_term' %}active{% endif %}" href="?range=short_term">4 weeks</a>
    <a class="btn btn-custom {% if time_range == 'medium_term' %}active{% endif %}" href="?range=medium_term">6 months</a>
    <a class="btn btn-custom {% if time_range == 'long_term' %}active{% endif %}" href="?range=long_term">All time</a>
</div>

<!-- Artist list -->
<ul class="list-group mb-3">
    {% for artist in items|slice:":10" %}
        <li class="list-group-item bg-dark text-light d-flex align-items-center">
            {% if artist.image %}
                <img src="{{ artist.image }}" class="img-fluid rounded-circle me-3" style="max-width: 50px;" alt="artist">
            {% endif %}
            <div>
                <strong>{{ artist.name }}</strong><br>
            </div>
        </li>
    {% empty %}
        <li class="list-group-item">No data found.</li>
    {% endfor %}
</ul>

<!-- Show More/Less button -->
{% if items|length > 10 %}
    <button class="btn btn-custom" data-bs-target="#moreArtists" data-bs-toggle="collapse" data-toggle-button
                type="button">
        Show more
    </button>

    <div class="collapse mt-3" id="moreArtists">
        <ul class="list-group">
            {% for artist in items|slice:"10:50" %}
                <li class="list-group-item bg-dark text-light d-flex align-items-center">
                    {% if artist.image %}
                        <img alt="artist" class="img-fluid rounded-circle me-3" src="{{ artist.image }}"
                             style="max-width: 50px;">
                    {% endif %}
                    <div>
                        <strong>{{ artist.name }}</strong><br>
                        <small class="text-muted">{{ artist.genres }}</small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}