html, body {
    height: 100%;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;
}

.container-fluid {
    flex: 1;
    display: flex;
    flex-direction: row;
}

/* Sidebar */
.sidebar {
    background-color: #1e1e1e !important;
    height: 100vh;
    overflow-y: auto;
}

.sidebar a {
    color: #e0e0e0;
}

.sidebar a:hover {
    background-color: #333;
    color: #fff;
}

/* main block */
main {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
}

.btn-custom {
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #444;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-custom:hover {
    background-color: #333;
    border-color: #555;
}

.list-group-item {
    background-color: #1e1e1e !important;
    border-color: #555 !important;
}

.avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

/* Burger menue for mobile devices */
@media (max-width: 767px) {
    html, body {
        overflow: auto;
    }
    .container-fluid {
        flex-direction: column;
    }
    .sidebar {
        height: auto;
    }
    main {
        height: auto;
        overflow-y: visible;
    }
}

/* Footer */
footer {
    background-color: #1e1e1e;
    color: #aaa;
    text-align: center;
    padding: 1rem 0;
}