{% extends "stats/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="card bg-dark text-light p-4 shadow-lg">
        <h2 class="mb-4">Logout</h2>
        <p>Are you sure you want to log out?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-custom">
                <img src="{% static 'images/icons/logout.svg' %}" alt="logout" width="25">
            </button>
        </form>
    </div>
</div>
{% endblock %}
